

<div class="about">
<h3 class="title">About</h3>
	<!-- Paragraph about self being human -->
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, magnam nesciunt cupiditate quam facilis! Quisquam, aspernatur, quis beatae accusamus maxime placeat cupiditate cumque odit similique repellat et blanditiis eligendi enim.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, natus facere impedit voluptates hic iusto sint fugiat. Ratione, molestias, vel consequuntur error id similique fuga eaque cupiditate fugiat dolorem dicta?</p>
</div>

<!-- Personality thingy -->
<ul>
	<li>A</li>
	<li>B</li>
	<li>C</li>
	<li>D</li>
</ul>

<!-- Skills section -->
<div class="skills">
	<ul>
		<li>
			<h3>Language</h3>
			<p>Info</p>
			<a href="">github</a>
		</li>
		<li>
			<h3>Language</h3>
			<p>Info</p>
			<a href="">github</a>
		</li>
		<li>
			<h3>Language</h3>
			<p>Info</p>
			<a href="">github</a>
		</li>
		<li>
			<h3>Language</h3>
			<p>Info</p>
			<a href="">github</a>
		</li>
		<li>
			<h3>Language</h3>
			<p>Info</p>
			<a href="">github</a>
		</li>
		<li>
			<h3>Language</h3>
			<p>Info</p>
			<a href="">github</a>
		</li>
		<li>
			<h3>Language</h3>
			<p>Info</p>
			<a href="">github</a>
		</li>
		<li>
			<h3>Language</h3>
			<p>Info</p>
			<a href="">github</a>
		</li>
		<li>
			<h3>Language</h3>
			<p>Info</p>
			<a href="">github</a>
		</li>
		<li>
			<h3>Language</h3>
			<p>Info</p>
			<a href="">github</a>
		</li>
	</ul>
</div>

<!-- Portfolio Section -->
<ul>
	<li>
		<h3></h3>
		<img src="" alt="">
		<ul class="tags">
			<li>tag1</li>
			<li>tag2</li>
			<li>tag3</li>
		</ul>
	</li>
	<li>
		<h3></h3>
		<img src="" alt="">
		<ul class="tags">
			<li>tag1</li>
			<li>tag2</li>
			<li>tag3</li>
		</ul>
	</li>
	<li>
		<h3></h3>
		<img src="" alt="">
		<ul class="tags">
			<li>tag1</li>
			<li>tag2</li>
			<li>tag3</li>
		</ul>
	</li>
	<li>
		<h3></h3>
		<img src="" alt="">
		<ul class="tags">
			<li>tag1</li>
			<li>tag2</li>
			<li>tag3</li>
		</ul>
	</li>
	<li>
		<h3></h3>
		<img src="" alt="">
		<ul class="tags">
			<li>tag1</li>
			<li>tag2</li>
			<li>tag3</li>
		</ul>
	</li>
	<li>
		<h3></h3>
		<img src="" alt="">
		<ul class="tags">
			<li>tag1</li>
			<li>tag2</li>
			<li>tag3</li>
		</ul>
	</li>
	<li>
		<h3></h3>
		<img src="" alt="">
		<ul class="tags">
			<li>tag1</li>
			<li>tag2</li>
			<li>tag3</li>
		</ul>
	</li>
	<li>
		<h3></h3>
		<img src="" alt="">
		<ul class="tags">
			<li>tag1</li>
			<li>tag2</li>
			<li>tag3</li>
		</ul>
	</li>
	<li>
		<h3></h3>
		<img src="" alt="">
		<ul class="tags">
			<li>tag1</li>
			<li>tag2</li>
			<li>tag3</li>
		</ul>
	</li>
	<li>
		<h3></h3>
		<img src="" alt="">
		<ul class="tags">
			<li>tag1</li>
			<li>tag2</li>
			<li>tag3</li>
		</ul>
	</li>
</ul>

<!-- Mentor/ Competitions -->
<ul>
	<li>
		<h3>thing</h3>
		<p></p>
		<img src="" alt="">
	</li>
	<li>
		<h3>thing</h3>
		<p></p>
		<img src="" alt="">
	</li>
	<li>
		<h3>thing</h3>
		<p></p>
		<img src="" alt="">
	</li>
	<li>
		<h3>thing</h3>
		<p></p>
		<img src="" alt="">
	</li>
</ul>

<!-- Contact -->



