<!-- Name with big image -->

<h1>Wisam Zaghal</h1>
<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>

<!-- Paragraph about self being human -->
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, magnam nesciunt cupiditate quam facilis! Quisquam, aspernatur, quis beatae accusamus maxime placeat cupiditate cumque odit similique repellat et blanditiis eligendi enim.</p>

<!-- Personality thingy -->
<ul>
	<li>A</li>
	<li>B</li>
	<li>C</li>
	<li>D</li>
</ul>

<!-- Skills section -->
<ul>
	<li>
		<h3>Language</h3>
		<p>Info</p>
		<a href="">github</a>
	</li>
	<li>
		<h3>Language</h3>
		<p>Info</p>
		<a href="">github</a>
	</li>
	<li>
		<h3>Language</h3>
		<p>Info</p>
		<a href="">github</a>
	</li>
	<li>
		<h3>Language</h3>
		<p>Info</p>
		<a href="">github</a>
	</li>
	<li>
		<h3>Language</h3>
		<p>Info</p>
		<a href="">github</a>
	</li>
	<li>
		<h3>Language</h3>
		<p>Info</p>
		<a href="">github</a>
	</li>
	<li>
		<h3>Language</h3>
		<p>Info</p>
		<a href="">github</a>
	</li>
	<li>
		<h3>Language</h3>
		<p>Info</p>
		<a href="">github</a>
	</li>
	<li>
		<h3>Language</h3>
		<p>Info</p>
		<a href="">github</a>
	</li>
	<li>
		<h3>Language</h3>
		<p>Info</p>
		<a href="">github</a>
	</li>
</ul>

<!-- Portfolio Section -->



<!-- Mentor/ Competitions -->



