
//Variables
//=========
$color1:#575D69;
$color2:#445555;
$color3:#CCDDEE;
$color4:#667788;
$color5:#001111;

$mediumCircles:(
	"1" : (120px,400px),
	"2" : (120px,900px),
	"3"	: (620px,900px),
	"4" : (620px,400px),
	);
$smallCircles:(
	"1" : (260px,400px),
	"2" : (40px,580px),
	"3" : (1px,440px),

	"4" : (10px,1000px),
	"5" : (10px,850px),
	"6" : (250px,1012px),

	"7" : (510px,1090px),
	"8" : (460px,890px),

	"9"  : (470px,390px),
	"10" : (460px,220px),
	"11" : (580px,240px),
	);

$largeCircle:(340px,560px);

$lines:(//height, width, top, left, tilt
	"1" :(8px,175px,291px,478px,50deg),
	"2" :(8px,223px,300px,729px,138deg),
	"3" :(8px,144px,582px,480px,-47deg),
	"4" :(8px,199px,582px,740px,40deg),

	"5" :(4px,16px,251px,440px,95deg),
	"6" :(4px,79px,140px,518px,150deg),
	"7" :(4px,20px,113px,469px,100deg),

	"8" :(4px,35px,121px,998px,-63deg),
	"9" :(4px,20px,123px,913px,60deg),
	"10" :(4px,43px,244px,998px,46deg),

	"11" :(4px,58px,594px,921px,83deg),
	"12" :(4px,101px,614px,1006px,143deg),
	
	"13" :(4px,47px,598px,430px,83deg),
	"14" :(4px,146px,582px,301px,48deg),
	"15" :(4px,70px,676px,338px,24deg),

	);

//Mixins
//======

@mixin fillColor($color){
	fill:$color;

}
@mixin title($top,$left){
	position:absolute;
	top:$top;
	left:$left;
	padding: 20px 50px 50px 50px;
	border-radius:10px;
}

@mixin titleUrl($top,$left,$url){
	position:absolute;
	top:$top;
	left:$left;
	background:url($url) center;
	padding: 20px 50px 50px 50px;
	border-radius:10px;
}



@mixin positionCircle($top,$left){
	@include fillColor($color3);
	position:absolute;
	top:$top;
	left:$left;
}

@mixin positionSmallCircle($top,$left){
	@include positionInnerCircle($top - 08,$left - 7.5);
}

@mixin positionMedCircle($top,$left){
	@include positionInnerCircle($top - 6,$left - 6);
}

@mixin positionInnerCircle($top,$left){
	@include positionCircle($top+15,$left+15);

}

@mixin positionText($top,$left){
	color:$color2;
	@include positionCircle($top+30,$left+30);
}

@mixin createLine($height,$width, $top, $left, $tilt){
	background:$color3;
	height:$height;
	width:$width;
	border-radius:10px;


	@include positionCircle($top,$left);
	-webkit-transform:rotate($tilt);
}

@mixin animateLine($num,$width){

	@-webkit-keyframes sanimate#{$num}{
		0% {
			width:1px;

		}
		100% {
			width:$width;
		}
	}
}



//border-box
//==========
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Floating fix*/
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

//General
//======
h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
    font-size: 110px;
    color:#FFF;
    text-transform:uppercase;
    text-shadow: 1px 1px 1px #000;
    margin: 0 0 0px 0;
	background: rgba(34, 61, 49,0.1);
}
h2{
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top:6px;
    margin: 0 0 23px 0;
    text-shadow: 1px 1px 1px #FFF;
	background: rgba(34, 61, 49,0.09);
}
p{

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23px;
    margin: 0 0 23px 0;
}
body{
	overflow-x:hidden;
	margin: 0;
	padding:0 auto;
	font-family: 'Open Sans', sans-serif;
}

ul{
	list-style:none;
	padding:0;
}


a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size:15px;
	text-decoration: none;
	color: inherit;
}

//Header
//========

header{
	 background:
    linear-gradient(
      rgba(67, 121, 96, 0.40),
      rgba(67, 121, 96, 0.40)
    ),url(('IMG_5549.jpg'));
	//background:url('waves.jpg') center no-repeat;
	//background:url('IMG_5549.jpg') center no-repeat;
	//background:url('ZedProMedia_Latte_Macbook.jpg') center no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	padding:1% 0 0% 0;
	position:relative;
}

.cover{
	padding: 15% 0 24% 0;
	text-align:center;
}

.heading{
	width:100%;
	margin:0;
	//background: rgba(34, 61, 49,0.1);
}


.down-arrow{
	position:absolute;
	top:89%;
	left:48%;
	@include fillColor(#FFF);
}

/*Navigation
============*/
.sticky nav{
	}

nav{
	z-index:100;
	position:fixed;

	width:100%;

	li{
		color: #FFF;
		display:inline-block;
		padding: 0 1% 0 1%;
		text-shadow: 1px 1px 1px #000;
	}

	li:hover{
		color:rgba(27, 165, 123, 1);
	}
	ul{
		text-align:right;
		margin-right:5%;
	}


}

.active{
	color:rgba(27, 165, 123, 1);
}

//About
//=============
.about{
	color:$color2;
	background:url('noisy-texture2.png') center;
	padding:5% 10% 5% 10%;
	position:relative;

	.titleUrl{
		@include titleUrl(-70px,630px,'noisy-texture2.png')
	}

	ul{
		margin-top:5%;

	}

	li{
		float:left;
		width:20%;
		text-align:center;
		@include fillColor(#b2b2b2);
		
	}
	.item-title{
		display:block;
	}

	.headshot{
		height:auto;
		float:left;
		width:25%;
		padding-top:1%;
		padding-right:2%;
	}
	.about-info{
		float:left;
		width:75%;
	}

	img{
		height:100px;
	}
}



//Skills
//=======

.skills{
	position:relative;
	height:750px;
	width:100%;
	background:$color4;
	margin:0;
	padding:1px;

	.title{
		@include title(-70px,630px);
		background:$color4;
	}
}

.big-circle{
	.outer-circle{
		width:300px;
		@include positionCircle(nth($largeCircle,1), nth($largeCircle,2));
	}
	.inner-circle{
		@include positionInnerCircle(nth($largeCircle,1),nth($largeCircle,2));
	}

	h2{
		z-index:5;
		@include positionText(nth($largeCircle,1)+75,nth($largeCircle,2)+46);
	}

	@each $line, $keyNumber in $lines{

		.line#{$line}{
			@include createLine(
				nth($keyNumber,1),nth($keyNumber,2),
				nth($keyNumber,3),nth($keyNumber,4),
				nth($keyNumber,5)
				);
			-webkit-animation:sanimate#{$line} 2s 1;
		}
	}
}



@each $circle, $keyNumber in $mediumCircles{
	$outerPos1: nth($keyNumber,1);
	$outerPos2: nth($keyNumber,2);


	.med-circle#{$circle}{
		.outer-circle{
			@include positionCircle($outerPos1, $outerPos2);
		}
		.inner-circle{
			@include positionMedCircle($outerPos1,$outerPos2);
		}

		h3{
			z-index:5;
			@include positionText($outerPos1,$outerPos2);
		}
	}
}



@each $circle, $keyNumber in $smallCircles{
	$outerPos1: nth($keyNumber,1);
	$outerPos2: nth($keyNumber,2);


	.small-circle#{$circle}{
		.outer-circle{
			@include positionCircle($outerPos1, $outerPos2);
		}
		.inner-circle{
			@include positionSmallCircle($outerPos1,$outerPos2);
		}

		h3{
			z-index:5;
			font-weight:300;
			font-size:15px;
			@include positionText($outerPos1 - 9,$outerPos2 - 8);
		}
	}
}

//line-animation
@each $line, $keyNumber in $lines{
	@include animateLine($line,nth($keyNumber,2));
}

//Portfolio
//=======
.portfolio{
		background:url('noisy-texture2.png') center;
		h2{
			padding-top:2%;
		}

	img{
		width:400px;
		height:auto;
		border:1px solid #DFDFDF;
	}
	position:relative;
	padding: 3% 5% 1px 5%;

	li.item{
		float:left;
		width:33.33333333%;

	}

	.info{
		margin:0;
		margin-top:-22px;
		background:#DFDFDF;
		margin-right:6.4%;
		padding-bottom:9%;
		margin-bottom:5%;
		text-align:center;
		.tags li{
			display:inline-block;
		}
	}

}

//Other-work
//==========
.other-work{
	ul{
		padding: 0 0% 0 32%;
	}

	li{
		display:inline-block;
		//padding: 0 10% 0 10%;
		width:20%;
		text-align:center;
	}

	li:nth-child(3){
		width:10%;
	}

	img{
		width:100%;

	}

	li:nth-child(4){
		width:15%;
	}
}

//footer
//======
footer{
	background: $color1;

	h2{
		color:#FFF;
		padding-top:4%;
		text-align:center;
	}
	ul{
		padding: 3% 35% 3% 35%;
	}
	li{
		float:left;
		width:25%;
	}
	i{
		color:#FFF;
	}
}

//Responsive
//====

//-webkit-transform: scale(0.8)
