//Variables
//=========
$color1:#575D69;
$color2:#445555;
$color3:#CCDDEE;
$color4:#667788;
$color5:#001111;

$mediumCircles:(
	"1" : (120px,400px),
	"2" : (120px,900px),
	"3"	: (620px,900px),
	"4" : (620px,400px),
	);
$smallCircles:(
	"1" : (260px,400px),
	"2" : (40px,580px),
	"3" : (1px,440px),

	"4" : (10px,1000px),
	"5" : (10px,850px),
	"6" : (250px,1012px),

	"7" : (510px,1090px),
	"8" : (460px,890px),

	"9"  : (470px,390px),
	"10" : (460px,220px),
	"11" : (580px,240px),
	);

$largeCircle:(340px,560px);

$lines:(//height, width, top, left, tilt
	"1" :(8px,175px,291px,478px,50deg),
	"2" :(8px,223px,300px,729px,138deg),
	"3" :(8px,144px,582px,480px,-47deg),
	"4" :(8px,199px,582px,740px,40deg),

	"5" :(4px,16px,251px,440px,95deg),
	"6" :(4px,79px,140px,518px,150deg),
	"7" :(4px,20px,113px,469px,100deg),

	"8" :(4px,35px,121px,998px,-63deg),
	"9" :(4px,20px,123px,913px,60deg),
	"10" :(4px,43px,244px,998px,46deg),

	"11" :(4px,58px,594px,921px,83deg),
	"12" :(4px,101px,614px,1006px,143deg),
	
	"13" :(4px,47px,598px,430px,83deg),
	"14" :(4px,146px,582px,301px,48deg),
	"15" :(4px,70px,676px,338px,24deg),

	);

//Mixins
//======


@mixin title($top,$left){
	position:absolute;
	top:$top;
	left:$left;
	padding: 20px 50px 50px 50px;
	border-radius:10px;
}

@mixin titleUrl($top,$left,$url){
	position:absolute;
	top:$top;
	left:$left;
	background:url($url) center;
	padding: 20px 50px 50px 50px;
	border-radius:10px;
}



@mixin positionCircle($top,$left){
	fill: $color3;
	position:absolute;
	top:$top;
	left:$left;
}

@mixin positionSmallCircle($top,$left){
	@include positionInnerCircle($top - 08,$left - 7.5);
}

@mixin positionMedCircle($top,$left){
	@include positionInnerCircle($top - 6,$left - 6);
}

@mixin positionInnerCircle($top,$left){
	@include positionCircle($top+15,$left+15);

}

@mixin positionText($top,$left){
	color:$color2;
	@include positionCircle($top+30,$left+30);
}

@mixin createLine($height,$width, $top, $left, $tilt){
	background:$color3;
	height:$height;
	width:$width;
	border-radius:10px;
	
	

	@include positionCircle($top,$left);
	-webkit-transform:rotate($tilt);
}

@mixin animateLine($num,$width){

	@-webkit-keyframes sanimate#{$num}{
		0% {
			width:1px;

		}
		100% {
			width:$width;
		}
	}
}



//border-box
//==========
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Floating fix*/
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

//General
//======
h1{
	font-size:56px;
}
body{
	overflow-x:hidden;
	margin: 0 auto;
	padding:0 auto;
	font-family: 'Open Sans', sans-serif;
}

ul{
	list-style:none;
	padding:0;
}

a{
	text-decoration: none;
	color: inherit;
}

//Header
//========

header{
	//background:url('waves.jpg') center no-repeat;
	background:url('IMG_5549.jpg') center no-repeat;
	//background:url('ZedProMedia_Latte_Macbook.jpg') center no-repeat;
	background-size: cover;
	padding-top:1px;
	padding-bottom:15%;
	position:relative;
}

.cover{
	padding: 10%;
	text-align:center;
}

.heading{
	//background: rgba(200, 54, 54, 0.5);
	border:2px solid white;
	margin:10% 25% 0 25%;
	background: rgba(0,0,0,0.6);
	padding-bottom:2.5%;
	color:white;
}

.down-arrow{
	position:absolute;
	top:80%;
	left:49%;
	fill:$color3;
}

/*Navigation
============*/
.sticky nav{
		background:$color1;
		margin-top:0px;
	}
nav{
	color: white;
	z-index:100;
	width:100%;
	margin-top:15px;
	//box-shadow: 0 1px 2px 0 rgba(0,0,0,0.075);

	ul li{
		float:left;
		padding: 0% 5% 1% 0%;
		width:16.6666666667%;
	}
	ul{
		float:right;
		width:40%;
	}

	.active a{
		border-bottom:2px solid white;
		margin-bottom:5px;
	}

}

//About
//=============
.about{
	color:$color2;
	background:url('noisy-texture2.png') center;
	padding:5% 20% 5% 20%;
	position:relative;

	.titleUrl{
		@include titleUrl(-70px,630px,'noisy-texture2.png')
	}

	ul{
		margin-top:5%;

	}

	li{
		float:left;
		width:20%;
		text-align:center;
		fill:#b2b2b2;
	}
	.item-title{
		display:block;
	}

	img{
		height:100px;
	}
}



//Skills
//=======

.skills{
	position:relative;
	height:750px;
	width:100%;
	background:$color4;
	margin:0;
	padding:1px;

	.title{
		@include title(-70px,630px);
		background:$color4;
	}
}

.big-circle{
	.outer-circle{
		width:300px;
		@include positionCircle(nth($largeCircle,1), nth($largeCircle,2));
	}
	.inner-circle{
		@include positionInnerCircle(nth($largeCircle,1),nth($largeCircle,2));
	}

	h2{
		z-index:5;
		@include positionText(nth($largeCircle,1)+35,nth($largeCircle,2)+6);
	}

	@each $line, $keyNumber in $lines{

		.line#{$line}{
			@include createLine(
				nth($keyNumber,1),nth($keyNumber,2),
				nth($keyNumber,3),nth($keyNumber,4),
				nth($keyNumber,5)
				);
			-webkit-animation:sanimate#{$line} 2s 1;
		}
	}
}

@each $circle, $keyNumber in $mediumCircles{
	$outerPos1: nth($keyNumber,1);
	$outerPos2: nth($keyNumber,2);


	.med-circle#{$circle}{
		.outer-circle{
			@include positionCircle($outerPos1, $outerPos2);
		}
		.inner-circle{
			@include positionMedCircle($outerPos1,$outerPos2);
		}

		h3{
			z-index:5;
			@include positionText($outerPos1,$outerPos2);
		}
	}
}

@each $circle, $keyNumber in $smallCircles{
	$outerPos1: nth($keyNumber,1);
	$outerPos2: nth($keyNumber,2);


	.small-circle#{$circle}{
		.outer-circle{
			@include positionCircle($outerPos1, $outerPos2);
		}
		.inner-circle{
			@include positionSmallCircle($outerPos1,$outerPos2);
		}

		h3{
			z-index:5;
			@include positionText($outerPos1 - 9,$outerPos2 - 8);
		}
	}
}

//line-animation
@each $line, $keyNumber in $lines{
	@include animateLine($line,nth($keyNumber,2));
}

//Portfolio
//=======
.portfolio{

	img{
		width:400px;
		height:auto;
		border:1px solid #DFDFDF;
	}
	position:relative;
	background:#FFF;
	padding:1px;
	padding: 1px 5% 1px 5%;

	li.item{
		float:left;
		width:33.33333333%;

	}

	.info{
		margin:0;
		margin-top:-22px;
		background:#DFDFDF;
		margin-right:6.4%;
		padding-bottom:9%;
		margin-bottom:5%;
		text-align:center;
		.tags li{
			display:inline-block;
		}
	}

}

//Other-work
//==========
.other-work ul li{
	background:$color1;
	color:$color3;
}

//footer
//======
footer ul li{
	float:left;
	width:16.6666666667%;
}



//Responsive
//====

//-webkit-transform: scale(0.8)
