
//Variables
//=========
$color1:#575D69;
$color2:#445555;
$color3:#CCDDEE;
$color4:#667788;
$color5:#001111;

//Mixins
//======

@mixin fillColor($color){
	fill:$color;

}

@mixin decreaseHeadingSize($h1,$h2){
	h1{
		font-size:$h1;
	}
	h2{
		font-size:$h2;
	}
}

//border-box
//==========
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* Floating fix*/
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


//General
//======
h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
    font-size: 110px;
    color:#FFF;
    text-transform:uppercase;
    text-shadow: 1px 1px 1px #000;
    margin: 0 0 0px 0;
}
h2{
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top:6px;
    margin: 0 0 23px 0;
    text-shadow: 1px 1px 1px #FFF;
}

body{
	// overflow-x:hidden;
	margin: 0;
	padding:0 auto;
	font-family: 'Open Sans', sans-serif;
}

ul{
	margin:100px 0 0 0;
	padding: 0;
	list-style: none;
}
li{
	display:inline-block;
	padding: 0px 5px 0 5px;
}
a{
	outline : none;
	color: #FFF;
	    text-shadow: 1px 1px 1px #000;
}


//Header
//========

header{
	 background:
    linear-gradient(
      rgba(67, 121, 96, 0.40),
      rgba(67, 121, 96, 0.40)
    ),url(('../images/IMG_55493.jpg'));
	background-size: cover;
	background-position: 50% 50%;

	position:relative;

	padding: 256px 0 212px 0;
	text-align:center;
	h1{
		background: rgba(34, 61, 49,0.1);
	}

	h2{
		background: rgba(34, 61, 49,0.09);
	}
}

.heading{
	width:100%;
	margin:0;
}


.down-arrow{
	position:absolute;
	top:89%;
	left:0;
	right:0;
	@include fillColor(#FFF);
}


@media all and (max-width:1000px){
	@include decreaseHeadingSize(90px,19px);
	header{
		padding: 268px 0 226px 0;
	}
}


@media all and (max-width:950px){
	@include decreaseHeadingSize(85px,17px);
	header{
		padding: 278px 0 230px 0;
	}
}


@media all and (max-width:900px){
	@include decreaseHeadingSize(80px,17px);
}

@media all and (max-width:850px){
	@include decreaseHeadingSize(75px,17px);
	header{
		padding: 280px 0 233px 0;
	}
}

@media all and (max-width:800px){
	@include decreaseHeadingSize(70px,16px);
	header{
		padding: 286px 0 236px 0;
	}
}

@media all and (max-width:700px){
	@include decreaseHeadingSize(65px,15px);
	header{
		padding: 289px 0 240px 0;
	}
}

@media all and (max-width:550px){
	@include decreaseHeadingSize(55px,14px);
	header{
		padding: 295px 0 246px 0;
	}

}

@media all and (max-width:450px){
	@include decreaseHeadingSize(50px,13.5px);
	header{
		padding: 297px 0 250px 0;
	}

}

@media all and (max-width:387px){
	@include decreaseHeadingSize(40px,13px);
	header{
		padding: 305px 0 255px 0;
	}
}

//quick fix for iphone
//note to self, find a better
//way to do this.
@media all and (max-width:320px){
	@include decreaseHeadingSize(35px,12px);
	header{
		padding: 209px 0 148px 0;
	}

}