
//Variables
//=========
$color1:#575D69;
$color2:#445555;
$color3:#CCDDEE;
$color4:#667788;
$color5:#001111;

//Mixins
//======

@mixin fillColor($color){
	fill:$color;

}

//border-box
//==========
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* Floating fix*/
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


//General
//======
h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
    font-size: 110px;
    color:#FFF;
    text-transform:uppercase;
    text-shadow: 1px 1px 1px #000;
    margin: 0 0 0px 0;
}
h2{
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top:6px;
    margin: 0 0 23px 0;
    text-shadow: 1px 1px 1px #FFF;
}

body{
	// overflow-x:hidden;
	margin: 0;
	padding:0 auto;
	font-family: 'Open Sans', sans-serif;
}

ul{
	margin:100px 0 0 0;
	padding: 0;
	list-style: none;
}
li{
	display:inline-block;
	padding: 0px 5px 0 5px;
}
a{
	outline : none;
	color: #FFF;
	    text-shadow: 1px 1px 1px #000;
}


//Header
//========

header{
	 background:
    linear-gradient(
      rgba(67, 121, 96, 0.40),
      rgba(67, 121, 96, 0.40)
    ),url(('../images/IMG_5549.jpg'));
	background-size: cover;
	background-position: 50% 50%;

	position:relative;

	padding: 256px 0 212px 0;
	text-align:center;
	h1{
		background: rgba(34, 61, 49,0.1);
	}

	h2{
		background: rgba(34, 61, 49,0.09);
	}
}

.heading{
	width:100%;
	margin:0;
}


.down-arrow{
	position:absolute;
	top:89%;
	left:0;
	right:0;
	@include fillColor(#FFF);
}

