* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Floating fix*/
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 110px;
  color: #FFF;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000;
  margin: 0 0 0px 0; }

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 6px;
  margin: 0 0 23px 0;
  text-shadow: 1px 1px 1px #FFF; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

html, body {
  height: 100%; }

#outer {
  min-height: 100%; }

ul {
  margin: 100px 0 0 0;
  padding: 0;
  list-style: none; }

li {
  display: inline-block;
  padding: 0px 5px 0 5px; }

a {
  outline: none;
  color: #FFF;
  text-shadow: 1px 1px 1px #000; }

header {
  background: linear-gradient(rgba(67, 121, 96, 0.4), rgba(67, 121, 96, 0.4)), url('../images/IMG_55493.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 238px 0 238px 0;
  text-align: center; }
  header h1 {
    background: rgba(34, 61, 49, 0.1); }
  header h2 {
    background: rgba(34, 61, 49, 0.09); }

.down-arrow {
  position: absolute;
  top: 89%;
  left: 0;
  right: 0;
  fill: #FFF; }

@media all and (max-width: 1000px) {
  h1 {
    font-size: 90px; }
  h2 {
    font-size: 19px; } }

@media all and (max-width: 950px) {
  h1 {
    font-size: 85px; }
  h2 {
    font-size: 17px; } }

@media all and (max-width: 900px) {
  h1 {
    font-size: 80px; }
  h2 {
    font-size: 17px; } }

@media all and (max-width: 850px) {
  h1 {
    font-size: 75px; }
  h2 {
    font-size: 17px; } }

@media all and (max-width: 800px) {
  h1 {
    font-size: 70px; }
  h2 {
    font-size: 16px; } }

@media all and (max-width: 700px) {
  h1 {
    font-size: 65px; }
  h2 {
    font-size: 15px; } }

@media all and (max-width: 550px) {
  h1 {
    font-size: 55px; }
  h2 {
    font-size: 14px; } }

@media all and (max-width: 450px) {
  h1 {
    font-size: 50px; }
  h2 {
    font-size: 13.5px; } }

@media all and (max-width: 387px) {
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 13px; } }

@media all and (max-width: 320px) {
  h1 {
    font-size: 35px; }
  h2 {
    font-size: 12px; } }
