<footer>
<h2>Reach out to me:</h2>
	<ul class="clearfix">
		<li>
			<%= link_to "mailto:wisamzaghal@gmail.com" do %>
				<i class="fa fa-envelope fa-3x"></i>
			<% end %>

		</li>
		<li>
			<%= link_to "http://www.twitter.com/@_wzaghal" do %>
				<i class="fa fa-twitter fa-3x"></i>
			<% end %>

		</li>
		<li>
			<%= link_to "http://www.github.com/wzaghal" do %>
				<i class="fa fa-github fa-3x"></i>
			<% end %>

		</li>
		<li>
			<%= link_to "http://www.journeyofaprogrammer.com" do %>
				<i class="fa fa-wordpress fa-3x"></i>
			<% end %>

		</li>
	</ul>
</footer>